#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: black;
}
.big-text {
  position: relative;
  font-size: 3rem;
  z-index: 10;
  animation: fadeUp 200ms;
}

@keyframes fadeUp {
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.timer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer{
  width: 300px;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  padding: 0 10px;
  border-radius: 10px;
}
.box{
  color:black;
}
.box p:first-child{
  font-size: 10px;
}
.box p{
  font-size: 2.5rem;
}
.countdown{
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-width:450px) {
  .timer{
    width:250px;
  }
  .countdown{
    font-size: 2rem;
  }
}